Windows
Build
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
annotations.json
Content/Developers
.vsconfig
UE_ObjectDetection_Sample/annotations.json
UE_ObjectDetection_Sample/dataset/images/
UE_ObjectDetection_Sample/model.pth
UE_ObjectDetection_Sample/__pycache__