Windows
Build
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
UE_ObjectDetection_Sample
annotations.json
Content/Developers
.vsconfig
